/* Universal Styles */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background-color: black;
  color: seashell;
  font-size: 22px;
  text-align: center;
}

/* Header Section */

.header {
/*  display: flex;
  width: 100%;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid gray;
  margin: 0px 0px;
  justify-content: space-between; */
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  display: flex;
}

.header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

span a {
  color: seashell;
  display: inline-block;
  padding: 20px 10px;
}

/* Main Section */

.main {
  width: 1200px;
  padding-top: 69px;
  margin: auto;
  opacity: 0.9;
}

/* Mission Section */

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");;
  height: 700px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  }

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%
}

.content h2 {
  margin: 10px;
}

.content h4 {
  margin: 10px;
}

/* Featured Section */

#featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

#featured img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.images {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.images span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Locations Section */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

#locations .content {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1100px;
}

.container {
  background-color: black;
  margin: 5px 20px;
  opacity: 1;
  width: 300px;
  padding: 10px;
}

#locations h3 {
  text-align: center;
}

.container p {
  margin-top: 40px;
}

/* Contact Section */

.left {
  text-align: left;
}
